.fa.fa-pull-left,
.fa.pull-left {
    margin-right: .3em
}

.fa,
.fa-stack,
.loader {
    display: inline-block
}

.fa-fw,
.fa-li,
.loader,
body {
    text-align: center;
}

progress {
    display: none;
    position: absolute;
    bottom: 0px;
    border-radius: 30px;
    height: 5px;
}

progress::-webkit-progress-bar {
    /* Fond */
    border-radius: 30px;
    background: linear-gradient(to right, rgba(86, 255, 109, 0.2), rgba(202, 232, 66, 0.2), rgba(255, 176, 87, 0.2));
}

progress::-webkit-progress-value {
    border-radius: 30px;
    background: linear-gradient(to right, #56ff6d, #cae842, #ffb057);
}

@font-face {
    font-family: Amatic;
    src: url(fonts/woff/amaticsc-bold-webfont.woff) format("woff"), url(fonts/woff2/amaticsc-bold-webfont.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: FontAwesome;
    src: url(fonts/eot/fontawesome-webfont.eot);
    src: url(fonts/woff/fontawesome-webfont.woff) format('woff'), url(fonts/woff2/fontawesome-webfont.woff2) format('woff2');
    font-weight: 400;
    font-style: normal
}

::selection {
    color: none;
    background: none;
}

i {
    z-index: 1;
}

@media all and (orientation:landscape) {
    i#musOff,
    i#musOn,
    i#fermer,
    i#volOff,
    i#maj,
    i#win,
    i#copy {
        font-size: 2em;
        position: absolute;
        right: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, #56ff6d, #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#volOn {
        display: none;
        font-size: 2em;
        position: absolute;
        right: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#musOn {
        display: none;
        top: 5em;
    }
    i#fermer {
        top: 0.5em;
    }
    i#win {
        top: 2em;
    }
    i#volOn,
    i#volOff {
        top: 3.5em;
    }
    i#musOff {
        font-size: 2em;
        position: absolute;
        top: 5em;
        right: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#trad {
        font-size: 2em;
        position: absolute;
        bottom: 3.5em;
        right: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#effScores {
        font-size: 2em;
        position: absolute;
        bottom: 2em;
        right: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#copy {
        bottom: 0.5em;
    }
    i#maj {
        display: none;
        top: 6.5em;
        animation: maj-rotScal 2s 1 ease-in-out;
        transform-origin: 50% 50%;
    }
}

@media all and (orientation:portrait) {
    i#musOff,
    i#musOn,
    i#fermer,
    i#volOff,
    i#maj,
    i#win {
        font-size: 2em;
        position: absolute;
        top: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, #56ff6d, #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#volOn {
        display: none;
        font-size: 2em;
        position: absolute;
        top: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#musOn {
        display: none;
        right: 5em;
    }
    i#fermer {
        right: 0.5em;
    }
    i#win {
        right: 2em;
    }
    i#volOn,
    i#volOff {
        right: 3.5em;
    }
    i#musOff {
        font-size: 2em;
        position: absolute;
        right: 5em;
        top: 0.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#trad {
        font-size: 2em;
        position: absolute;
        bottom: 0.5em;
        right: 3.5em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#effScores {
        font-size: 2em;
        position: absolute;
        bottom: 0.5em;
        right: 2em;
        width: 1em;
        text-align: center;
        cursor: pointer;
        background: linear-gradient(to bottom, hsl(32, 100%, 67%), #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#copy {
        font-size: 2em;
        position: absolute;
        bottom: 0.5em;
        right: 0.5em;
        cursor: pointer;
        width: 1em;
        text-align: center;
        background: linear-gradient(to bottom, #56ff6d, #cae842);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    i#maj {
        display: none;
        right: 6.5em;
        animation: maj-rotScal 2s 1 ease-in-out;
        transform-origin: 50% 50%;
    }
}

@keyframes maj-rotScal {
    0% {
        transform: rotate(0deg) scale(1);
    }
    30% {
        transform: rotate(-270deg) scale(0.75);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.faTxt {
    font-family: Amatic, cursive;
    font-size: 14px/1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-fw {
    width: 1.28571429em
}

.fa-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none
}

.fa.fa-pull-right,
.fa.pull-right {
    margin-left: .3em
}

.fa-ul>li {
    position: relative
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em
}

.fa-li.fa-lg {
    left: -1.85714286em
}

.fa-border {
    padding: .2em .25em .15em;
    border: .08em solid #eee;
    border-radius: .1em
}

.fa-pull-left {
    float: left
}

.fa-pull-right,
.pull-right {
    float: right
}

.pull-left {
    float: left
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    filter: none
}

.fa-stack {
    position: relative;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle
}

.fa-stack-1x,
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center
}

.fa-stack-1x {
    line-height: inherit
}

.fa-stack-2x {
    font-size: 2em
}

.fa-inverse {
    color: #fff
}

.fa-spoon:before {
    content: "\f1b1"
}

.fa-caret-square-o-down:before,
.fa-toggle-down:before {
    content: "\f150"
}

.fa-caret-square-o-up:before,
.fa-toggle-up:before {
    content: "\f151"
}

.fa-caret-square-o-right:before,
.fa-toggle-right:before {
    content: "\f152"
}

.fa-caret-square-o-left:before,
.fa-toggle-left:before {
    content: "\f191"
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}

body,
canvas,
html {
    padding: 0;
    margin: 0;
    font-family: Amatic, cursive
}

#jeux {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

html {
    background: url(img/terre.jpg) center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden
}

p {
    margin-top: 0
}

#chargement {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#chargement p {
    font-size: 2.7rem;
    background: -webkit-linear-gradient(top, #56ff6d, #e8d542);
    background: -o-linear-gradient(bottom, #56ff6d, #e8d542);
    background: -moz-linear-gradient(bottom, #56ff6d, #e8d542);
    background: linear-gradient(to bottom, #56ff6d, #e8d542);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loader {
    height: 100px;
    width: 20%;
    padding: 1em;
    margin: 0 auto 1em;
    vertical-align: top
}

svg path,
svg rect {
    fill: #56ff6d
}

body {
    margin: 0 auto
}

.wow {
    animation-duration: .5s;
    animation-name: wow
}

.woow {
    animation-duration: .5s!important;
    animation-name: wow!important
}

@keyframes wow {
    from {
        -webkit-transform: scale(0)
    }
    30% {
        -webkit-transform: scale(2)
    }
    60% {
        -webkit-transform: scale(.75)
    }
    to {
        -webkit-transform: scale(1)
    }
}

.telecharger {
    animation-duration: .5s!important;
    animation-name: telecharge!important
}

@keyframes telecharge {
    from {
        -webkit-transform: rotate(0deg) scale(0)
    }
    30% {
        -webkit-transform: rotate(180deg) scale(2)
    }
    60% {
        -webkit-transform: rotate(180deg) scale(.75)
    }
    to {
        -webkit-transform: rotate(0deg) scale(1)
    }
}

.rebond {
    -webkit-animation-name: rebond;
    animation-name: rebond;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}

@-webkit-keyframes rebond {
    20%,
    53%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes rebond {
    20%,
    53%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

.perdu {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: perdu;
    animation-name: perdu
}

@-webkit-keyframes perdu {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

@keyframes perdu {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out
    }
    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
}

.intro {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.extra {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

@-webkit-keyframes hvr-buzz-out {
    10%,
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20%,
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50%,
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60%,
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}

@keyframes hvr-buzz-out {
    10%,
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg)
    }
    20%,
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg)
    }
    50%,
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg)
    }
    60%,
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg)
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0)
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0)
    }
}